<ion-header>
  <ion-navbar>
    <ion-title>
      About me
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-item>
<img src="https://pp.userapi.com/c637826/v637826718/5f21d/Snya8Aune8s.jpg" width="127" height="169 $"><br/>
ФИО - Гайфуллина Зифа Гадиловна<br/>
Дата рождения - 03.04.1996<br/>
Университет - КНИТУ<br/>
Факультет -ДПИ<br/>
Специальность - Информационные системы и технологии<br/>
Курс - 4 <br/>
</ion-item>
</ion-content>
