<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on </ion-list-header>
    <ion-item>
      <ion-icon name="star"></ion-icon>
<a href ="https://vk.com "> VK </a>
<br/>

<ion-icon name="start"> </ion-icon>
<a href="https://www.instagram.com/zifa1996"> Instagram </a>
   </ion-item>
  </ion-list>
</ion-content>
