<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-item>
    <button ion-button color="secondary" (click)="presentActionSheet()">Выбрать фото</button>
</ion-item>
<ion-item>
<img src="{{pathForImage(lastImage)}}"style="width:100%"[hidden]="lastImage===null">
<h3 [hidden]="lastImage!==null">Выберите фото!</h3>
</ion-item>
<ion-item>
<button ion-button (click)="uploadImage()"> Загрузить</button>
</ion-item>

<div *ngFor="let item of data">
<ion-item>
<img src="{{item.img}}">
</ion-item>
</div>
</ion-content>

